.h1 {
  margin-bottom: 0cm;
  color: aliceblue;
}

.h5 {
  margin-top: 0cm;
  color: rgb(255, 255, 255);
}

.navbar_bg-color {
  background-color: #767474;
}

.profile_bg-color {
  background-color: rgb(175, 172, 172);
}

.community_bg-color {
  background-color: #aeaeae;
}

#Sub-title_bg-color {
  background-color: #aeaeae;
}

#paragraf_community {
  background-color: #eaeaea;
}

.footer_bg-color {
  background-color: #eaeaea;
  background-image: linear-gradient(150deg, #767474 14.7%, #eaeaea 105.8%);
  background-size: 200%;
  animation: gradient-animation 2s infinite alternate;
}

@keyframes gradient-animation {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.wa_click {
  background-color: #25d366;
}

.ig_click {
  background-color: #fd1d1d;
}

.line_click {
  background-color: #34a853;
}

.padding_top {
  padding-top: 4rem;
}
